@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');
body{
    margin:0;
    padding:0;
     font-family: 'Bebas Neue', cursive; 
    /* font-family: 'Roboto', sans-serif;  */
}

button{
    font-family: 'Roboto', sans-serif; 
    color: #fff;
}
.card img{
    background-color:rgba(128, 128, 128, 0.789) ;
    border-radius: 40px;
   
}
#card-title{
    font-size: 40px;
    font-weight: 700;
}
.img{
    width:40%;
}
#title{
    font-size: 80px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    line-height: 80px;

}

#meta-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;
    width: 75%;
}
@media  screen  and (max-width:425px) and (min-width:320px) {
    #navbar{
        width: 60%;
    }
   #navbars img{
       width:250px;
   }
    #title{
        font-size: 75px;
        font-weight: 700;
        font-family: 'Bebas Neue', cursive;
        line-height: 80px;
    
    }
    #titles{
        text-align: center;
        margin: 10px 0px;
    }
   
    #meta-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 26px;
        width: 100%;
    }
    #des{
        order:1;
    }
    #image{
        order:2
    }
    .card img{
        
        border-radius: 0px;
       
    }
    #dd{
        padding: 16px 10px;
    }
}